@import 'lib/stylesheets/reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.center {
  margin-top: 18%;
  width: 80%;
  text-align: left;
  color: #35404f;
}
.center h2 {
  color: #35404f;
  font-size: 2em;
}
.center p {
  text-align: justify;
}
@media screen and (max-width: 720px) {
  .center {
    margin-left: 10%;
    width: 80%;
  }
  .center h2 {
    font-size: 1.8em;
  }
}
.resume h3 {
  padding-top: 1em;
  border-top: 1px solid rgba(228, 95, 86, 0.39);
  color: burlywood;
  font-weight: lighter;
}
.resume h4,
dt {
  font-weight: 400;
  color: gray;
}
section .experience {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04166667%;
}
section .experience li {
  margin-bottom: .4em;
  line-height: 1.2;
}
section .skills {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
}
dl {
  line-height: 1.2;
}
@media screen and (max-width: 720px) {
  section .experience {
    margin-left: 10%;
  }
  section .experience li {
    text-align: left;
  }
  .resume h4,
  dl {
    text-align: left;
  }
}
.project {
  color: #e45f56;
}
.project main {
  position: relative;
  border: 3px dashed #e45f56;
  overflow-x: hidden;
  height: 28em;
  margin-bottom: 2em;
  margin-right: 11em;
}
.project main ul {
  list-style: none;
}
.project main ul .slide1 {
  left: 0%;
}
.project main ul .slide2 {
  left: 100%;
}
.project main ul .slide3 {
  left: 200%;
}
.project main ul .slide4 {
  left: 300%;
}
.project main ul li {
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.project main ul li article {
  padding: .5em;
}
.project main ul li article h4 {
  text-align: center;
  font-size: xx-large;
  font-weight: lighter;
  text-transform: uppercase;
  border-bottom: 3px solid;
}
.project main ul li article p {
  text-align: justify;
  line-height: 1.5;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-rule: 1px dashed;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 1px dashed;
  /* Firefox */
  column-rule: 1px dashed;
  -webkit-column-gap: 2em;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 2em;
  /* Firefox */
  column-gap: 2em;
}
.project main ul li .img-wrapper {
  text-align: center;
  background-color: #000;
  width: 100%;
}
.project main nav {
  line-height: .4;
  font-size: 2em;
  display: flex;
}
.project main nav a {
  z-index: 100;
}
.project main nav a:hover {
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .project main {
    margin-right: inherit;
  }
  .project main ul li article p {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }
}
/* ======================================
 
    MediaQuery-Reporter Styles
 
========================================= */
/*
body:after {
    content: "less than 320px";
    font-size: 300%;
    font-weight: bold;
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    background-color: hsla(1,60%,40%,0.7);
    color: #fff;
}
@media only screen and (min-width: 320px) {
    body:after {
        content: "320 to 480px";
        background-color: hsla(90,60%,40%,0.7);
    }
}
@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180,60%,40%,0.7);
    }
}
@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }
}
@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360,60%,40%,0.7);
    }
}
*/
header,
.top {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
#maincolumn {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
}
#sidebar {
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
}
body,
html,
.wrapper {
  height: 100%;
}
.hide {
  display: none;
}
.subtitle {
  font-size: 3em;
  position: relative;
  top: 1em;
  color: #35404f;
}
body,
html {
  margin: 0;
  font-family: 'Open Sans' sans-serif;
  font-weight: lighter;
  background-color: #f6f6f6;
}
section {
  font-size: 1.3em;
}
.wrapper {
  box-sizing: border-box;
  padding-top: 2em;
  min-height: 100%;
  margin: 0 auto -7em;
}
header {
  margin-bottom: 3em;
}
header h1.title {
  font-weight: lighter;
  font-family: 'Courier New', monospace;
  margin: 0 auto;
  border-top: 1px solid burlywood;
  border-bottom: 1px solid burlywood;
  padding: 10px 0;
  float: left;
  text-align: center;
}
header div {
  float: right;
}
header div img {
  width: 35px;
}
nav > a {
  font-family: 'Open Sans' sans-serif;
  color: #e45f56;
  display: block;
  margin: 1em auto;
  text-decoration: none;
  font-size: 1em;
  font-weight: lighter;
}
@media screen and (max-width: 720px) {
  #maincolumn,
  #sidebar {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 1em;
    text-align: center;
  }
  header div {
    float: none;
  }
  header h1.title {
    float: none;
    width: 80%;
  }
}
