@import 'lib/stylesheets/reset.css';
@import 'lib/stylesheets/less/grid.less';
@import 'app/app.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

// header
header, .top {
  .column(12); 
}

// main column & sidebar
#maincolumn {
  .column(10);
}
#sidebar{
  .column(2);
}

////////////
// MIXINS //
////////////
//prefix
.transition(@transition) {
  -webkit-transition: @transition; 
  transition: @transition;
}
.column-rule(@rule) {
  -webkit-column-rule: @rule; /* Chrome, Safari, Opera */
  -moz-column-rule: @rule; /* Firefox */
  column-rule: @rule;
}
.column-count(@count) {
  -webkit-column-count: @count; /* Chrome, Safari, Opera */
  -moz-column-count: @count; /* Firefox */
  column-count: @count;
}
.column-gap(@gap) {
  -webkit-column-gap: @gap; /* Chrome, Safari, Opera */
  -moz-column-gap: @gap; /* Firefox */
  column-gap: @gap;
}
//logo of my name
.name() {
  font-weight: lighter;
  font-family:'Courier New', monospace;
  margin: 0 auto; 
  border-top: 1px solid burlywood;
  border-bottom: 1px solid burlywood;
  padding: 10px 0;
}
.fullsize() {
  width: 100%;
  height: 100%;
}

.generate-slides(@n, @i: 1) when (@i =< @n) {
  @j: @i - 1;
  .slide@{i} {
    left: @j * 100%;
  }
  .generate-slides(@n, (@i + 1));
}

////////////
// STYLE //
////////////
@theme-color-red: #E45F56;
@theme-color-lightgreen: #A3D39C;
@theme-color-skygreen: #7ACCC8;
@theme-color-bluegreen: #4AAAA5;
@theme-color-blue: #35404F;
body, html, 
.wrapper{
  height: 100%;
}

.hide {
  display: none;
}
.subtitle {
  font-size: 3em;
  position: relative;
  top: 1em;
  color: @theme-color-blue;
}
body, html {
  margin:0;
  font-family: 'Open Sans' sans-serif;
  font-weight: lighter;
  background-color: #f6f6f6;
}
section {
  font-size: 1.3em;
}
.wrapper {
  box-sizing: border-box;
  padding-top: 2em;
  min-height: 100%;
  //height: auto !important;
  margin: 0 auto -7em;
}
header {
  margin-bottom: 3em;
  h1.title {
    .name();
    float: left;
    text-align: center;
  }
  div {
    float: right;
    img {
      width: 35px;
    }
  }
}
nav > a {
  font-family: 'Open Sans' sans-serif;
  color: @theme-color-red;
  display: block;
  margin: 1em auto;
  text-decoration: none;
  font-size: 1em;
  font-weight: lighter;
}

@media screen and (max-width: 720px) {
  #maincolumn,
  #sidebar {
    .column(12);
    margin-bottom: 1em;
    text-align: center;
  }
  header{
    div {
      float: none;
    }
    h1.title {
    float: none;
    width: 80%;
    }
  }
}
