@import 'lib/stylesheets/reset.css';
@import 'lib/stylesheets/less/grid.less';
@import 'app/app.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

// header
header, .top {
  margin-bottom: 1em;
  .column(12); 
}

// main column & sidebar
#maincolumn {
  .column(10);
}
#sidebar{
  .column(2);
}


////////////
// STYLE //
////////////
@theme-color-red: #E45F56;
@theme-color-lightgreen: #A3D39C;
@theme-color-skygreen: #7ACCC8;
@theme-color-bluegreen: #4AAAA5;
@theme-color-blue: #35404F;
.hide {
  display: none;
}
//logo of my name
.name() {
  font-weight: lighter;
  font-family:'Courier New', monospace;
  margin: 0 auto; 
  border-top: 1px solid burlywood;
  border-bottom: 1px solid burlywood;
  padding: 10px 0;
}
.subtitle {
  font-size: 3em;
  position: relative;
  top: 1em;
  color: @theme-color-blue;
}
body, html {
  height: 100%;
  margin:0;
  font-family: 'Open Sans' sans-serif;
  font-weight: lighter;
  background-color: #f6f6f6;
}
.wrapper {
  box-sizing: border-box;
  padding-top: 2em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7em;
}
header > h1.title {
  .name();
  float: left;
  text-align: center;
}
footer {
  clear: both;
  height: 5em;
}
nav > a {
  font-family: 'Open Sans' sans-serif;
  color: @theme-color-red;
  display: block;
  margin: 1em auto;
  text-decoration: none;
  font-size: 1em;
  font-weight: lighter;
}

footer {
  padding-top: 2em;
  text-align: center;
  color: @theme-color-skygreen;
  vertical-align: center;
  font-weight: bold;
  width: 100%;
  border-top: .5em solid @theme-color-blue;
  background-color: @theme-color-red;
}
footer img {
  width: 35px;
}

@media screen and (max-width: 720px) {
  #maincolumn,
  #sidebar {
    .column(12);
    margin-bottom: 1em;
    text-align: center;
  }
  header > h1.title {
    float: none;
    width: 56%;
  }
}
