.center {
  margin-top: 18%;
  width: 80%;
  text-align: left;
  color: @theme-color-blue;
  h2 {
    color: @theme-color-blue;
    font-size: 2em;
  }
  p {
    text-align: justify;
  }
}


@media screen and (max-width: 720px) {
  .center {
    margin-left: 10%;
    width: 80%;
  }
  .center h2 {
    font-size: 1.8em;
  }
}